<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!--suppress HtmlRequiredTitleElement -->
    <th:block th:fragment="head">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
    </th:block>
    <th:block th:fragment="body">
        <script type="application/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script type="application/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>


        <script type="application/javascript" th:src="@{/resources/js/all.js}"></script>
        <script sec:authorize="hasRole('ADMIN')" type="application/javascript" th:src="@{/resources/js/admin.js}"></script>

        <form action="/logout" method="post" class="logout-form">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </form>
    </th:block>
</html>