<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>FunnyTelemetry - Panel</title>
    </head>
    <body>
        <nav th:replace="template :: navigation"/>

        <p>
            No siema, telemetria powstaje.
        </p>

        <p>
            Zalogowales sie jako: <span sec:authentication="name"/> :0
        </p>

        <p>
            Organizacje do ktorych nalezysz:
        </p>

        <ul th:each="name : ${organizations}">
            <li th:text="${name}"></li>
        </ul>

        <p>
            Role:
        </p>

        <ul th:each="role : ${#authentication.authorities}">
            <li th:text="${role.getAuthority()}"/>
        </ul>

        <form action="/logout" method="post">
            <input type="submit" th:value="Wyloguj">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>
    </body>
</html>